<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to the {{ title }} page!</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    
    <div class="moving-text-container">
        <p class="moving-text">"This Flight Prices Prediction tool, created by Rohan Kumar, harnesses the power of machine learning for accurate and insightful predictions."</p>
    </div>
</body>
</html>